# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
dist/
out/
build/

# Turbo
.turbo/

# Env
.env
.env.local
.env.production.local
.env.development.local

# Debug
npm-debug.log*

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
